@import "tailwindcss";

@theme {
  --color-poke-red: #ff1c1c;
  --color-poke-blue: #3b4cca;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 m-0 p-0 font-sans;
    
  }
}

.ant-btn {
  @apply shadow-none;
}